<div class="container" style="padding:20px;margin:30px;">
    <h2><%= assessmentRes.chart.title %></h2>

        <% for(var i=0; i < assessmentRes.chart.entities.length; i++) { %>

            <h4><%= assessmentRes.chart.entities[i].entityName%></h4>

               <div style="border: solid 1px #D8D8D8;background-color: #fff">

                <% for(var j=0; j < assessmentRes.chart.entities[i].domains.length; j++) { %>
                    
                    <h5 style="margin-top:10px"><%= assessmentRes.chart.entities[i].domains[j].domainName%></h5>
                    
                    <table class="table">
                            <thead>
                              <tr>
                                <th>Criterias</th>
                                <th>Level</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% for(var k=0; k < assessmentRes.chart.entities[i].domains[j].criterias.length; k++) { %>
                              <tr>
                                <td><%= assessmentRes.chart.entities[i].domains[j].criterias[k].name%></td>
                                <td><%= assessmentRes.chart.entities[i].domains[j].criterias[k].level%></td>
                              </tr>
                              <% } %>
                            </tbody>
                        </table>
                   
                     <% } %>

                </div>

              <!-- <% if(i = assessmentRes.chart.entities.length-1){ %>
                <p style="page-break-before: always;">&nbsp;</p>
                <% } %> -->
          <% } %>
     
    </div>