<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
       hr {
            visibility: hidden;
            page-break-after: always;
        }
        
        progress {
            border: 0;
            height: 8px;
            border-radius: 20px;
           
            width: 320px;
        }
        progress::-webkit-progress-bar {
            border: 0;
            height: 8px;
            border-radius: 20px;
            width: 320px;
            
        }
        progress::-webkit-progress-value {
            border: 0;
            height: 8px;
            border-radius: 5px;
            background-color: orange;
        }
        progress::-moz-progress-bar {
            border: 0;
            height: 8px;
            border-radius: 5px;
            width: 320px;
           
        }
        
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
        #progress-0 {
            height: 8px;
            border: none;
            width: 320px;
            background: #5ef004 !important;
            text-align: center;
            border-radius: 5px;
        }
        #progress-1 {
            height: 8px;
            border: none;
            width: 320px;
            background: gray !important;
            text-align: center;
            border-radius: 5px;
            
        }
        .title {
            color: #138ef2;
            font-weight: 550;
        }
        .taskName {
            color: #138ef2;
            margin-top: 25px;
            font-weight: bold;
            margin-left: 55px;
        }
        .subtitle {
            color: #313233c4;
            font-weight: bold;
            font-size: 18px;
        }
        #stylebar { 
            height: 2px;
            border: none;
            width: 81%;
            background: #f8c703 !important;
            float: right;
            margin-top: 11px;
        }
        #taskEndBar { 
            height: 2px;
            border: none;
            width: 100%;
            background: #f8c703 !important;
            margin-top: 30px;
        }
        .titleDiv {
            width: auto;
            float: left;
            
        }
        .titleData {
            width:60%; 
            float:left;
            padding-left: 6px;
            font-weight: 550;
        }
        .row{
            margin-right: 70px;
        }
        .progressbarText {
            margin-bottom: 2.5px;
            font-size: 11px;
            color: rgba(49, 49, 49, 0.7);
        }
        .linkTitle {
            color:#024F9D;
            font-weight: 550;
        }
        .subtaskName {
            color: #138ef2;
            font-weight: 550;
            margin-left: 55px;
            margin-right: 55px;
            
        }
        .subtaskContainer {
            position: relative; 
            margin-top: 20px; 
            height: 30px;
            margin-left: 55px;
        }
        .subtitleDiv {
            width:auto; 
            float:left; 
            position: absolute;  
        }
        .box {
            display: block;
            float: left;
            width: 33.3%;
            padding: 6px;
            padding-bottom: 2px;
           
            
        }
        img {
            height: 120px;
            width : 100%;
            object-fit: cover;
            border-radius: 0px 0px 15px 15px;
        }
        .thanks {
            text-align: center;
            width: 100%;
            margin-top: 15%;
        }
        .pageHeader {
            padding:12px;
            background-color: #f8c703;
            color: black;
            font-size: 22px; 
            padding-left: 55px;
            margin-bottom: 15px;
        }
    
    </style>
</head>
<% let pageNo =1 %>
<body style="padding: 0px; margin: 0;">
    <!--project details section-->
    <div class= "pageHeader">
        Project Details <span style="float: right; color: #024F9D; padding-right: 15px;">  <%= pageNo %></span>
    </div>
    <div style="font-size: 16px;padding-left:70px">
    
        <div class="row">
            <div class="titleDiv">
                <p class="title">Project Name : </p>
            </div>
           <div class = "titleData">
                <p><%=  data.response.title %></p>
            </div>
        </div>
        <div class="row">
            <div class="titleDiv">
                <p class="title">Program Name :</p>
            </div>
            <div class = "titleData">
                <p><%=  data.response.programName %></p>
            </div>
        </div>
        <div class="row">
            <div class="titleDiv">
                <p class="title">Objective :</p>
            </div>
            <div class = "titleData">
                <p><%= data.response.description %></p>
            </div>
        </div>
        <%if ( data.response.recommendedForRoles.length > 0) {%>
            <div class="row">
                <div class="titleDiv">
                    <p class="title">Recommended For :</p>
                </div>
                <div class = "titleData">
                    <p><%= data.response.recommendedForRoles %></p>
                </div>
            </div>
        <%}%>
        
        <div class="row" >
            <div class="titleDiv">
                <p class="title">Categories :</p>
            </div>
            <% if ( data.response.category.length > 0 ) { %>
                <% let categoryValues = ""%>
                <% data.response.category.forEach(category=>{%>
                    <% if(categoryValues == "") { %>
                        <% categoryValues = category  %>
                    <%} else {%>
                        <% categoryValues = categoryValues + " , " + category  %>
                    <%}%>
                <%})%>
                <div class = "titleData">
                    <p><%= categoryValues %></p>
                </div>
            <% } %>
            
        </div>
        <% if (data.response.duration !== "") {%>
            <div class="row">
                <div class="titleDiv">
                    <p class="title">Duration :</p>
                </div>
                <div class = "titleData">
                    <p><%= data.response.duration %></p>
                </div>
            </div>
        <%}%>
        <div class="row" style="position: relative;">
            <div style="width:auto; float:left;position: absolute; bottom:0;">
                <p class="title" style="margin:auto">Project Status</p>
            </div>
            <div style="width:60%; margin-left: 20%;margin-bottom:7px;">
                
                <% if(data.tasksArray.length != 0 && data.response.completedTaskCount == data.tasksArray.length) { %>
                    <p class= "progressbarText"><%=data.response.completedTaskCount%>/<%=data.tasksArray.length%> tasks completed</p>
                    <div id="progress-0"></div>
                <% } else if(data.response.completedTaskCount !== 0 && data.response.completedTaskCount < data.tasksArray.length ) { %>
                    <p class= "progressbarText"><%=data.response.completedTaskCount%>/<%=data.tasksArray.length%> tasks completed</p>
                    <progress value="60" max="100"></progress>
                <% } else if(data.response.completedTaskCount == 0) {%>
                    <p class ="progressbarText"><%=data.response.completedTaskCount%>/<%=data.tasksArray.length%> tasks completed</p>
                    <div id="progress-1"></div>
                <% } else  {%>
                    <p class ="progressbarText"><%=data.response.completedTaskCount%>/<%=data.tasksArray.length%> tasks completed</p>
                    <div id="progress-1"></div>
                <% }  %>
            </div>
        </div>
        
    </div> 
    
   
        
    <!-- show only when any one of the evidence is present-->
    <% if ( data.response.remarks !== "" || data.response.imageLink.length > 0 || data.response.evidenceLink.length > 0 ) { %>
        <hr>
        <% pageNo = pageNo + 1; %>
        <div class="pageHeader">
            Project Evidences <span style="float: right;color: #024F9D; padding-right: 15px;"> <%= pageNo %></span>
        </div>
        <div class="projectEvidences" style="font-size: 16px;">
            <!--adding remarks-->
           <div class="row" style="padding-left: 70px;">
                <div class="titleDiv">
                    <p class="title">Remarks :</p>
                </div>
                <div class = "titleData">
                    <% if ( !data.response.remarks || data.response.remarks == "" ) { %>
                        <p style="color: #138ef2;">N/A</p>
                    <% } else { %>
                        <p ><%= data.response.remarks %></p>    
                    <% } %>
                </div>
           </div>
            
           <% if ( data.response.imageLink.length > 0 ) { %>
                <!--adding images title-->
                <div class="row" style="padding-left: 70px;">
                    <div class="titleDiv">
                        <p class="title">Images :</p>
                    </div>
                </div>
                <!--add images-->
                    <% for ( let i = 0; i < data.response.imageLink.length; i++ ) { %>
                       
                        <% if(i!=0 && i%3==0){
                            %>  
                            <% pageNo = pageNo + 1; %>
                             
                            <hr>
                            <div class="pageHeader">
                                Project Evidences <span style="float: right;color: #024F9D;padding-right: 15px;">  <%= pageNo %></span>
                            </div>
                            <%
                        } %>
                        <div class="box" style="padding-left: 55px;">
                            <img src="<%= data.response.imageLink[i] %>">
                        </div>
                    <% } %>
              
                   
            <% } %>
            
            
           
            <% if ( data.response.evidenceLink.length > 0 ) { %>
                <!--add evidence links-->
                <hr>
                <div class="pageHeader">
                    Project Evidences <span style="float: right;color: #024F9D; padding-right: 15px;">  <%= ++pageNo %></span>
                </div>
                <div class="row" style="padding-left: 70px;">
                    <div class="titleDiv">
                        <p class="title">Links :</p>
                    </div>
                </div>
                <!--add links-->

                <% for ( let i = 0; i < data.response.evidenceLink.length; i++ ) { %>
                    <% if(i!=0 && i%4==0){
                        %>  
                        <% pageNo = pageNo + 1; %>
                         
                         <hr>
                        
                         <div class="pageHeader">
                            Project Evidences <span style="float: right;color: #024F9D;padding-right: 15px;">  <%= pageNo %></span>
                        </div>
                        <%
                    } %>
                    
                    <%if ( data.response.evidenceLink[i].type == "link" ) {%>
                        <% let linkUrl %>
                        <% if (data.response.evidenceLink[i].url.indexOf('://') > 0 || data.response.evidenceLink[i].url.indexOf('//') === 0 ) { %>
                            <%linkUrl = data.response.evidenceLink[i].url%>
                        <% } else { %>
                            <%linkUrl = "http://"+data.response.evidenceLink[i].url%>
                        <% } %>
                        <div class="row" style="font-size: 14px; padding-left: 70px;">
                            <p class="linkTitle">Link- <%=i+1%>.<a href="<%= linkUrl %>"><%= data.response.evidenceLink[i].type%></a></p>
                        </div>
                    <%} else { %>
                        <div class="row" style="font-size: 14px; padding-left: 70px;">
                            <p class="linkTitle">Link- <%=i+1%>.<a href="<%= data.response.evidenceLink[i].url %>"><%= data.response.evidenceLink[i].type%></a></p>
                        </div>
                    <% } %>

                <% } %>
                
            <% } %>
        </div>
       
       
    <%} %>
    <!--add task details to the pdf-->
    
    <div class="taskDetails" style="font-size: 16px;">
        <!--if project have task-->
        <% if (data.tasksArray && data.tasksArray.length > 0) { %>
            <!--populate data for each task-->
            <% for (let i = 0; i< data.tasksArray.length; i++) { %>
                <%
                let skipHeader= false;
                if( data.tasksArray[i].children && data.tasksArray[i].children.length == 0
                 ) { 
                    skipHeader =true;

                  } 
                  if( ((i+1)%2==0) && skipHeader==true && data.tasksArray[i-1].remarks && data.tasksArray[i-1].remarks !== "" ){
                    skipHeader =false;
                  }
                  
                  %>
                  <% if( ((i+1)%2==0) && skipHeader==true
                    && data.tasksArray[i-1].attachments && data.tasksArray[i-1].attachments.length ==0 && data.tasksArray[i-1].children && data.tasksArray[i-1].children.length == 0){ } else { %>
                <hr>
                <% pageNo = pageNo + 1; %>
                <div class="pageHeader">
                    Task Details <span style="float: right; color: #024F9D;padding-right: 15px;">  <%= pageNo %></span>
                </div>
                <% } %>
                <!--populate task name-->
                <p class="taskName"><%= data.tasksArray[i].name %></p>
                <!--populate task status-->
                <div class="row" style="position: relative; padding-left: 70px;">
                    <div style="width:auto; float:left;position: absolute; bottom:0; ">
                        <p class="title" style="margin:auto">Task Status</p>
                    </div>
                    <div style="width:60%; margin-left: 20%;margin-bottom:7px;">
                        <% data.tasksArray[i].status = data.tasksArray[i].status.toLowerCase() %>
                        <% if(data.tasksArray[i].status == "completed") { %>
                            <p class= "progressbarText">Completed</p>
                            <div id="progress-0"></div>
                        <% } else if(data.tasksArray[i].status == "submitted") { %>
                            <p class= "progressbarText">Submitted</p>
                            <div id="progress-0"></div>
        
                        <% } else if(data.tasksArray[i].status == "in progress" || data.tasksArray[i].status == "inprogress") {%>
                            <p class ="progressbarText" style="margin-top:2px;">In Progress</p>
                            <progress value="60" max="100"></progress>
        
                        <% } else {%>
                                <p class= "progressbarText">Not started</p>
                                <div id="progress-1"></div>
                        <% } %>
        
                    </div>
                </div>
                <% if (data.tasksArray[i].children && data.tasksArray[i].children.length > 0) { %>
                    <!--Add subtask details header-->
                    <div class="subtaskContainer" >
                        <!--add text-->
                        <div class="subtitleDiv">
                            <p class="subtitle">Subtask Details </p>
                        </div>
                        <!--add yellow line style-->
                        <div id="stylebar"></div>
                        
                    </div>
                    <%
                    
                    for (let j = 0; j< data.tasksArray[i].children.length; j++) { %>
                        <% if(j!=0 && j%2==0){ %>  
                            
                            <% pageNo = pageNo + 1; %>
                             
                             <hr>
                            
                             <div class="pageHeader">
                                Task Details <span style="float: right; color: #024F9D;padding-right: 15px;">  <%= pageNo %></span>
                            </div>
                            
                        <% } %>
                        <!--add subtask name -->
                        <p class="subtaskName"><%= data.tasksArray[i].children[j].name %></p>   
                    <% }
                          %>
                <% } %>
                <div id="taskEndBar"></div>
                <!--add task evidences-->
                <% if ( ( data.tasksArray[i].remarks && data.tasksArray[i].remarks !== "" ) || ( data.tasksArray[i].attachments && data.tasksArray[i].attachments.length ) > 0 ) { %>
                    <!--get images and links from current task-->
                    <%let evidenceImage = [] %>
                    <%let evidenceLink = [] %>
                    <%if ( data.tasksArray[i].attachments && data.tasksArray[i].attachments.length > 0 ) { %>
                        <%data.tasksArray[i].attachments.forEach( attachment => { %>
                            <%if ( attachment.type == "image/jpeg"  && attachment.url !== "" ) { %>
                                <%evidenceImage.push(attachment.url) %>
                            <%} else if ( attachment.type == "link" && attachment.name && attachment.name !== "" ) { %>
                                <% 
                                     let data = {
                                        type: attachment.type,
                                        url: attachment.name
                                    } %>
                                <%evidenceLink.push(data) %>
                            <%} else if( attachment.url && attachment.url !== "" ) {%>
                                <% 
                                    let data = {
                                        type: attachment.type,
                                        url: attachment.url
                                    } %>
                            <%evidenceLink.push(data) %>
                            <%}%>
                        <% }) %>
                    <% } %>
                    
                    <%if( evidenceImage.length > 0 || evidenceLink.length > 0 || ( data.tasksArray[i].remarks && data.tasksArray[i].remarks !== "" ) ) { %>
                        <!--start a new page -->
                        <% pageNo = pageNo + 1; %>
                        <hr>
                        
                        <div class="pageHeader">
                        Task Evidences <span style="float: right; color: #024F9D; padding-right: 15px;">  <%= pageNo %></span>
                        </div>
                    
                        <div class="taskEvidences" >
                            
                            <!--adding remarks-->
                            <div class="row" style="font-size: 16px; padding-left:70px;">
                                <div class="titleDiv">
                                    <p class="title">Remarks : </p>
                                </div>
                                <div class = "titleData">
                                    <% let remark ; %> 
                                    <% if ( !data.tasksArray[i].remarks || data.tasksArray[i].remarks == "" ) { %>
                                        <p style="color:#138ef2">N/A</p>
                                    <% } else { %>
                                        <p> <%= data.tasksArray[i].remarks  %> </p>
                                    <%} %>
                                    
                                </div>
                            </div>
                        
            
                            <% if ( evidenceImage.length > 0 ) { %>
                        
                                <!--adding images title-->
                                <div class="row" style="font-size: 16px; padding-left:70px;">
                                    <div class="titleDiv">
                                        <p class="title">Images :</p>
                                    </div>
                                </div>
                                <!--add images-->
                                <% for ( let j = 0; j < evidenceImage.length; j++ ) { %>
                                    <% if(j!=0 && j%3==0){%>  
                                        <% pageNo = pageNo + 1; %>
                                        
                                        <hr>
                                    
                                        <div class="pageHeader">
                                            Task Evidences <span style="float: right;color: #024F9D;padding-right: 15px;">  <%= pageNo %></span>
                                        </div>
                        
                                    <% } %>
                                    <div class="box" style="font-size: 16px; padding-left:70px;">
                                        <img src="<%= evidenceImage[j] %>">
                                    </div>
                                
                                <% } %>
                                
                            <% } %>
                        
                        
                            
                            <% if ( evidenceLink.length > 0 ) { %>
                                <hr>
                                <!--add evidence links-->
                                <div class="pageHeader">
                                    Task Evidences <span style="float: right;color: #024F9D;padding-right: 15px;">  <%= ++pageNo %></span>
                                </div>
                                <div class="row" style="font-size: 16px; padding-left:70px;">
                                    <div class="titleDiv">
                                        <p class="title">Links :</p>
                                    </div>
                                </div>
                                <!--add links-->
                                
                                <% for ( let j = 0; j < evidenceLink.length; j++ ) { %>
                                    <% if(j!=0 && j%4==0){%>  
                                        <% pageNo = pageNo + 1; %>
                                        <hr>
                                    
                                        <div class="pageHeader">
                                            Task Evidences <span style="float: right;">  <%= pageNo %></span>
                                        </div>
                                    <% } %>
                                    

                                    <%if ( evidenceLink[j].type == "link" ) {%>
                                        
                                        <% let linkUrl  %>
                                        <% if (evidenceLink[j].url.indexOf('://') > 0 || evidenceLink[j].url.indexOf('//') === 0 ) { %>
                                            <%linkUrl = evidenceLink[j].url%>
                                        <% } else { %>
                                            <%linkUrl = "http://"+evidenceLink[j].url%>
                                        <% } %>
                                        <div class="row" style="font-size: 14px; padding-left: 70px;">
                                            <p class="linkTitle">Link- <%=j+1%>.<a href="<%= linkUrl %>"><%= evidenceLink[j].type%></a></p>
                                        </div>
                                    <%} else { %>
                                        <div class="row" style="font-size: 14px; padding-left: 70px;">
                                            <p class="linkTitle">Link- <%=j+1%>.<a href="<%= evidenceLink[j].url %>"><%= evidenceLink[j].type%></a></p>
                                        </div>
                                    <% } %>
                                <% } %>
                                
                                
                            <% } %>
                        
                        </div>
                    <%} %>
                       
                <%} %> 
                <!-- <% if(data.tasksArray.length > 0 && ((i+1)%2==0))  { %> <hr> <% } %> -->
            <% } %>
            
        <% } %>
    </div>
    
    <hr>
    <% pageNo = pageNo + 1; %>
    <div style="height:52px; padding:12px;background-color: #f8c703;color: black;font-size: 22px;">
             <span style="float: right;color: #024F9D;padding-right: 15px;">  <%= pageNo %></span>
        </div>
    <div class="thanks"><p style="font-size: 28px;">Thank You!</p></div>
   
    
    
</body>
</html>