<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
      </head>
      <body>  
      <% var orderData= data.orderData; %>
        <% for (var r=0;r < orderData.length; r++){  %>   
             <% if(orderData[r].responseType == 'text'){ %>  
                 <%- include('textReport', {instaResponse: orderData[r] }); %>

             <%  } else if(orderData[r].responseType == 'number'){ %>    
              <%- include('numberReport', {instaResponse: orderData[r] }); %>

          <%  } else if(orderData[r].responseType == 'date'){ %>   
                 <%- include('dateReport', {instaResponse: orderData[r] }); %>  

            <%  } else if(orderData[r].responseType == 'slider'){ %>    
                <%- include('sliderReport', {instaResponse: orderData[r] }); %>

            <%  } else if(orderData[r].responseType == 'multiselect'){ %>     
                <%- include('multiSelectReport', {path: orderData[r][0].options.filename}); %>


            <%  } else if(orderData[r].responseType == 'radio'){ %>  
                <%- include('radioReport', {path: orderData[r][0].options.filename}); %>
            <%  } %>        
            <% } %>

            
      </body> 
      
</html>