<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <%if(data.entityName) {%>
    <div style="border: solid 1px #A9A9A9;margin-top:15px;padding: 10px">
        <h4><%=data.entityName %></h4>
    </div>
    <div style="margin-top:20px">
        <h4>Total Observations : <%= data.totalObservations %></h4>
    </div>
    <% } %>

    <%if(data.totalEntities) {%>
    <div style="width:50%;float:left;margin-top:15px">
        <h4>Total <%= data.entityType %>s : <%= data.totalEntities %></h4>
    </div>
    <div style="width:50%;float:right;margin-top:15px">
        <h4><%= data.entityType %>s Observed : <%= data.entitiesObserved %></h4>
    </div>
    <% } %>


    <%if(data.totalScore) {%>
    <div style="width:50%;float:left;margin-top:15px">
        <h4>Total Score : <%= data.totalScore %></h4>
    </div>
    <div style="width:50%;float:right;margin-top:15px">
        <h4>Score Achieved : <%= data.scoreAchieved %></h4>
    </div>
    <% } %>


    <% var response= data.response; %>
    <% for (var i=0;i < response.length; i++){  %>
    <h2 style="margin-left:50px !important;margin-top:20px !important"><%= response[i].criteriaName %></h2>
    <% for (var j=0;j < response[i].questionArray.length; j++){  %>
    <% for (var k=0;k < data.highChartData.length; k++){  %>
    <% if(data.highChartData[k].order == response[i].questionArray[j].order ){ %>
    <img style="width:80%;border: solid 1px #A9A9A9;margin-top:25px;margin-bottom: 25px;margin-left: 10%"
        src="<%=data.highChartData[k].options.filename%>" />
    <% } %>
    <% } %>

    <% } %>
    <% } %>

</body>

</html>