<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        progress::-moz-progress-bar {
            background: #91d050;
        }
        progress::-webkit-progress-value {
            background: #91d050;
        }

        audio,canvas,progress,video {
            display: inline-block;
            vertical-align: baseline;
            height: 8px;
        }

        hr.new1 {
            border-top: 1px solid #c0192d;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        #progress-0 {
            height: 8px;
            border: 1px solid #999 !important;
            width: 150px;
            background: #6abf34 !important;
            text-align: center;
            border-radius: 5px;
            margin-top: 5px !important;
        }

        #progress-1 {
            height: 8px;
            border: 1px solid #999 !important;
            width: 150px;
            background: #81d6f0 !important;
            text-align: center;
            border-radius: 5px;
            margin-top: 5px !important;
        }
    </style>


</head>

<body class="container">

    <hr class="new1">

    <div class="" style=" background: #eee !important;padding: 15px 40px;">

        <div class="row">
            <div style="width:30%; float:left;">
                <p><b>PROJECT TITLE</b></p>
            </div>
            <div style="width:50%; float:left;">
                <p><%= data.projectName %></p>
            </div>
        </div>

        <div class="row">
            <div style="width:30%; float:left;">
                <p><b>GOAL</b></p>
            </div>
            <div style="width:50%; float:left;">
                <p><%= data.goal %></p>
            </div>
        </div>

        <div class="row">
            <div style="width:30%; float:left;">
                <p><b>DURATION</b></p>
            </div>
            <div style="width:50%; float:left;">
                <p><%= data.duration %></p>
            </div>
        </div>

        <div class="row">
            <div style="width:30%; float:left;">
                <p><b>START DATE</b></p>
            </div>
            <div style="width:50%; float:left;">
                <p><%= data.startDate %></p>
            </div>
        </div>

        <div class="row">
            <div style="width:30%; float:left;">
                <p><b>END DATE</b></p>
            </div>
            <div style="width:50%; float:left;">
                <p><%= data.endDate %></p>
            </div>
        </div>

        <div class="row">
            <div style="width:30%; float:left;">
                <p><b>STATUS</b></p>
            </div>
            <div style="width:50%; float:left;">

                <% if(data.status.toLowerCase() == "completed") { %>
                <div id="progress-0">
                    <p style="margin-top: 10px"><%= data.status %></p>
                </div>

                <% } else if(data.status.toLowerCase() == "in progress") {%>
                <progress value="60" max="100"></progress>
                <p style="margin-left:33px;margin-top:4px;"><%= data.status %></p>

                <% } else if(data.status.toLowerCase() == "not started yet" || data.status.toLowerCase() == "not yet started") {%>
                <div id="progress-1">
                    <p style="margin-top: 10px"><%= data.status %></p>
                </div>
                <% } %>



            </div>
        </div>

    </div>

    <hr class="new1">

    <div>
        <div class="row" style="padding: 15px 20px;">
            <div style="width:50%; float:left;">
                <h5><b style="color:#494949 !important">Total Tasks : <%= data.tasksArray.length %></b></h5>
                <h5><b style="color:#494949 !important">Total Subtasks : <%= data.subTasks %></b></h5>
            </div>

            <div style="width:50%; float:right">
                <h5 style="text-align:right;"><b style="color:#494949 !important"><%= data.category %></b></h5>
            </div>
        </div>
    </div>

    <hr class="new1">


    <% for (var i=0;i < data.tasksArray.length; i++){  %>

    <div class="row" style="padding: 10px 22px;">

        <div style="width:10%;float:left">

            <% let date,month,now %>
            <% if(data.tasksArray[i].endDate) { %>
            <% let months=["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"] %>
            <% now = new Date(data.tasksArray[i].endDate); %>
            <% month = months[now.getMonth()]; %>
            <% date = now.getDate() %>
            <% } %>

            <p><b style="color:#b23d33 !important"><%= month %></b></p>
            <p style="margin-top:-12px !important;padding-left: 4px !important;"><b
                    style="color:#b23d33 !important;"><%= date %></b></p>
        </div>

        <div style="width:90%;float:right">
            <p><b><%= data.tasksArray[i].title %></b></p>

            <% for (var j=0;j < data.tasksArray[i].subTasks.length; j++){  %>
            <div class="row" style="padding: 0px 20px;">
                <p><span
                        style="color:#b23d33 !important;font-size: 20px;margin-left:-7px">&#3664;</span>&nbsp;&nbsp;&nbsp;<b><%= data.tasksArray[i].subTasks[j].title %></b>
                </p>

                <% let subEndDate %>
                <% if(data.tasksArray[i].subTasks[j].endDate) {%>
                <% let subTaskEndDate = new Date(data.tasksArray[i].subTasks[j].endDate) %>
                <% let day = subTaskEndDate.getDate() %>
                <% let month = subTaskEndDate.getMonth() + 1 %>
                <% let year = subTaskEndDate.getFullYear() %>
                <% subEndDate = day + '/' + month + '/' + year %>
                <% } %>

                <img src="Calendar-Time.svg" style="height:22px;width:58px;"><span
                    style="font-size: 12px"><%= subEndDate %></span>
            </div>
            <% } %>
        </div>


    </div>
    <hr class="new1">

    <% } %>

</body>

</html>